<div class="row">
	<div class="col-md-12" style="background-color: #292b2c; color:white; margin-bottom: 20px">
		<h1>Foods Order : </h1>
	</div>
	<p id="notice">
		<%= notice %>
	</p>
	<div class="col-md-12">
		Your Order Information :
		<ul>
			<li><strong>Name</strong> : <%= @order.name %></li>
			<li><strong>Address</strong> :<%= @order.address %></li>
			<li><strong>Phone</strong> : <%= @order.phone %></li>
			<li><strong>Email</strong> : <%= @order.phone %></li>
			
		</ul>
	</div>
	<div class="col-md-12">
		<div class="table-responsive">
			<table class="table table-striped">
			  <thead>
			    <tr>
			      <th>Food</th>
			      <th>image</th>
			      <th>Price</th>
			    </tr>
			  </thead>
			
			  <tbody>
			    <% @order.order_details.each do |order_detail| %>
			      <tr>
			        <td><%= order_detail.food_item.name %></td>
			        <td><img src="<%= order_detail.food_item.image_url %>" height="80px" width="80px"/></td>
			        <td><%= number_with_delimiter(order_detail.price) %> VND</td>
			      
			      </tr>
			    <% end %>
			    <tr>
			    	<td colspan="2" class="text-left"><strong>SUM ORDER :</strong></td>
			    	<td colspan="2" class="text-left"><%= number_with_delimiter(@sum) %> VND</td>
			    </tr>
			     <tr>
			    	<td colspan="2" class="text-left"><strong>Delivery Cost :</strong></td>
			    	<td colspan="2" class="text-left">20,000 VND</td>
			    </tr>
			    <% if @order.coupon == "CODERSCHOOL" %>
			    	<tr>
				    	<td colspan="2" class="text-left">use COUPON : <strong>[<%= @order.coupon %>]</strong></td>
				    	<td colspan="2" class="text-left">Discount 50 %</td>
				    </tr>
			    <% end%>
			     <tr>
			    	<td colspan="2" class="text-left"><strong>TOTAL COST :</strong></td>
			    	<td colspan="2" class="text-left"><%= 
			    	 if @order.coupon == "CODERSCHOOL"
			    	 	number_with_delimiter(@sum.to_d/2 + 20000)
			    	 else
			    	 	number_with_delimiter(@sum.to_d + 20000)
			    	 end 
			    	 %> VND</td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
	
</div>

</p>
