<!DOCTYPE html>
<html>
	<head>
		<title>Foododer</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse" style="background-color: #a07f5b">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="#">FOOD ORDER</a>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/home/about">Link</a>
					</li>

				</ul>
				<form class="form-inline mt-2 mt-md-0">
					<form action='/' id="search">
					<input class="form-control mr-sm-2" name="name" type="text" placeholder="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">
						Search
					</button>
					</form>
				</form>
			</div>
		</nav>
		<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner" role="listbox">
				<div class="carousel-item active">
					<%= image_tag "banner1.png", class: "d-block img-fluid" %>
				</div>

			</div>
		</div>
		<div class="container" style="padding-top:30px">
			
			<%= yield %>
			
		</div>
		<footer class="footer" style="background-color:#292b2c">
			<div class="container">
				<span class="text-muted">CoderSchool Assignment 1. JackyDev.</span>
			</div>
		</footer>

	</body>
</html>
